body {
    background-color: rgb(255, 255, 159);
}
.title-container {
    margin: 100px auto;
    background-color: orange;
    height: 70vh;
    width: 60%;
    position: relative;
}

.start-page-header {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    text-align: center;

}

#main-title {
    font-size: 100px;
    margin-bottom: 70px;
    font-family: "Jersey 10", sans-serif;
}

.pile {
    height: 200px;
}
.card-image {
    top: 50%;
    transform: translateY(50%);
    width: 113px;
    height: 157px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.button-row, .button-text-row {
    height: 150px;
}

.text-container, .button-container {
    width: 100%;
    position: relative;
}

#yes, #no  {
    top: 50%;
    transform: translateY(50%);
    margin: 0 auto;
    position: absolute;
}

#decision-text {
    line-height: 150px;
    top: 50%;
    transform: translateY(50%);
    text-align: center;
}

#yes {
    left: 45%;
}

#no {
    right: 45%;
}

.card-choice {
    margin-top: -10px;
}