body {
    background-color: rgb(255, 255, 159);
}
.title-container {
    margin: 100px auto;
    background-color: orange;
    height: 70vh;
    width: 60%;
    position: relative;
}

.start-page-header {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    text-align: center;

}

#main-title {
    font-size: 100px;
    margin-bottom: 70px;
    font-family: "Jersey 10", sans-serif;
}

.pile {
    height: 200px;
}
.card-image, .card-image-pile {
    top: 50%;
    transform: translateY(50%);
    width: 113px;
    height: 157px;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

.card-image {
    display: inline-block;
}

.not-clickable {
    opacity: 0.5;
}

.draw-card-section, 
.button-container, 
.play-again-section, 
.suit-container, 
.text-container {
    display: none;
}

.button-row, .button-text-row {
    height: 150px;
}

.text-container, .button-container {
    width: 100%;
    position: relative;
}

.suit-container {
    z-index: 2;
}
.suit-buttons {
    text-align: center;
}

#yes, #no-not-eight  {
    top: 50%;
    transform: translateY(50%);
    margin: 0 auto;
    position: absolute;
}

#decision-text {
    line-height: 150px;
    top: 50%;
    transform: translateY(50%);
    text-align: center;
}
#yes {
    left: 40%;
} 

#no-not-eight {
    right: 40%;
}

.card-choice {
    margin-top: -10px;
}

.face-down-image {
    display: inline-block;
}
.right {
    align-self: right;
}
.cp1, .cp2 {
    margin-top: 20px;
    
}.cp2 {
    text-align: right;
    padding-right: 120px;
}
.cp1 {
    padding-left: 60px;
}

.player-text {
    text-align: center;
}

.suit-choice {
    text-align: right;
}