

body {
    background-color: rgb(255, 255, 159);
    font-family: "Acme", sans-serif;
    font-size: 1.5rem;
}

/*-------- Title Page Styling ----------------*/

.title-container {
    margin: 100px auto;
    background-color: orange;
    height: 70vh;
    width: 60%;
    position: relative;
}

.start-page-header {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    text-align: center;

}

#main-title {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 100px;
    margin-bottom: 70px;
    font-family: "Jersey 10", sans-serif;
}
#enter-username {
    height: 100%;
    margin-top: 50vh;
}

/*----------- Game Page Styling ---------------------*/

.pile {
    height: 200px;
}
.card-image, .card-image-pile {
    top: 25%;
    transform: translateY(25%);
    width: 113px;
    height: 157px;
    margin: 0 auto;
    margin-bottom: 20px;
    
}
.card-image {
    display: inline-block;
}

.not-clickable {
    opacity: 0.5;
}

.draw-card-section, 
.button-container, 
.play-again-section, 
.suit-container,
#enter-username, 
.text-container {
    display: none;
    text-align: center;
}



.button-row, .button-text-row, .darw-card-row {
    height: 50px;
}
.button-text-row {
    margin-top: 20px;
}

.text-container, .button-container {
    position: relative;
    width: 100%;
    
}
.draw-card-section, .suit-container {
    z-index: 2;
    text-align: center;
}
.play-again-section {
    margin-top: -120px;
}
.suit-container {
    margin-top: -40px;
}
.draw-card-section {
    margin-top: -90px;
}
.suit-buttons {
    text-align: center;
}

#decision-text {
    top: 50%;
    transform: translateY(50%);
    text-align: center;
}



#yes, #no-not-eight  {
    margin: 0 auto;
    position: absolute;
}

#yes {
    left: 40%;
} 

#no-not-eight {
    right: 40%;
}

.card-choice {
    margin-top: -10px;
}

.face-down-image {
    display: inline-block;
}

.cp1, .cp2 {
    margin-top: 20px;
    
}.cp2 {
    text-align: right;
    padding-right: 120px;
}
.cp1 {
    padding-left: 60px;
}

.player-text {
    text-align: center;
}

.suit-choice {
    text-align: right;
    padding-right: 100px;
}

.player-score {
    padding-left: 50px;
    padding-top: 50px;
}

.red {
    color: red;
}